# jupyter checkpoints
.ipynb_checkpoints/

# python cache y files temporales
__pycache__/
*.py[cod]
*$py.class

# entornos
env/
venv/
.venv/

# basura
.DS_Store
Thumbs.db
*.egg-info/

# datos
*.csv
*.parquet

# reportes de pytest
htmlcov/
.pytest_cache/
.coverage

# ruff y mypy
.mypy_cache/
.ruff_cache/