APP_PORT=8000 # puede cambiar
DB_USER=admin
DB_PASSWORD=password
DB_NAME=flask_db
JUPYTER_TOKEN=prueba_token
DB_HOST_PORT=54320 # puede cambiar 
ADMINER_PORT=8080 # puede cambiar
JUPYTER_HOST_PORT=9000 # puede cambiar