.git/
.venv/
venv/
data/
__pycache__/
*.csv
.env
env/
.conda/
__pypackages__/
.pytest_cache/
.mypy_cache
.ruff_cache
*.py[cod]
.coverage
htmlcov/
coverage.xml
.gitignore
.github
.ipynb_checkpoints/
build/
src/*.egg-info/
dist/
notebooks/
Dockerfile.debug
*.log